<h1 class="header">Edit User</h1>
<br>
<style>
.content{
  text-align: center;
  color: purple;

}
.header {
  text-align:center;
  color: white;
  background-color: purple;
}
</style>
<div class="content">
<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :hair_color %>
  <%= f.text_field :hair_color %>

  <%= f.submit %>
<% end %>
</div>