<h1 class="header">-----------------------Welcome to our Users App ----------------------</h1>
<br>
<br>
<style>
.content{
  text-align: center;
  color: purple;

}
.header {
  text-align:center;
  color: white;
  background-color: purple;
}
</style>
<div class="content">
<% @users.each do |user| %>
  <h2><%= user.first_name %></h2>
  <h4><%= user.last_name %></h4>
  <h6>Age: <%= user.age %></h6>
  <h6>Hair Color:<%= user.hair_color %><h6>
  


  <%= link_to 'Create User', new_user_path() %>
  <%= link_to 'Edit User', edit_user_path(user) %>
  <%= link_to 'Delete User', user, method: :delete %>
  <hr>

<% end %>

</div>